*{
  font-family: 'roboto';
}

.img-background{
  background-image: url("../imagens/imagem_capa.jpg");
  border: solid 1px red;
}

.confrontos{
  margin: auto;
}

.carol {
  width: 40%;
  height: 10%;
  margin-right: 500px;
}